<!-- <h1>Add Review</h1>

<form method="POST" action="/review/add">

    <div>
        <label> Review </label>
        <input type="text" name="reviewContent" class="form-control bg-dark text-light"/>
    </div>
       
    <br>
   <button type="submit" class="btn btn-primary">Add Review</button>
</form>  -->
