<h1>Add Review</h1>

<form method="POST" action="/review/add">

    <div>
        <label> Review </label>
        <input type="text" name="name"/>
    </div>
       
   <button type="submit">Add Review</button>
</form> 
