<div class="">
  <h2>Add Category</h2>

  <form method="POST" action="/category/add" class="d-flex flex-column justify-content-center align-items-center" enctype="multipart/form-data">
    <div>
      <label class="d-flex justify-content-start align-items-start mb-2"> Category Name: </label>
      <input type="text" name="name" class="form-control" style="width: 600px;">
    </div>

    <div>
      <label>Category Picture:</label>
      <input class="form-control" type="file" name="categoryImg">
    </div>

    <div class="LeftButton">
      <button type="submit" class="cat navList">Create Category</button>
    </div>
  </form>
</div>