<div class="container-fluid form-style-6 d-flex flex-column justify-content-center align-items-center" style="width: 600px;">
  <h2>Add Category</h2>
  <img class="divider" src="/images/divider.png">

  <form method="POST" action="/category/add"  >
    <div class="row">

      <div class="col-12 mb-2">
      <label class="d-flex justify-content-start align-items-start mb-2"> Category Name: </label>
      <input type="text" name="name" class="form-control" style="width: 600px;">
      </div>

      <div class="col-12 mb-2">
       <label class="d-flex justify-content-start" >Category Picture:</label>
      <input class="form-control" type="file" name="categoryImg">
      </div>
    </div>
    <div>
      <button type="submit" class=" cat navList">Create Category</button>
      </div>
  </form>
</div>
  
