<h1>Add Category</h1>

<form method="POST" action="/category/detail">

    <div>
        <label> Category Name </label>
        <input type="text" name="name" class="form-control bg-dark text-light"/>
    </div>
       <br>
    <button type="submit" class="btn btn-primary">Create Category</button>
</form> 
