<div>
    <div >
      <h3><%= category.name %></h3>
    </div>
</div>

<br>

<form method="POST" action="/category/detail">

    <div>
        Place: <%= category.place.map(a => a.name).join(', ')%>
    </div>
</form> 
