<h1> Categories </h1>
<table>
    <tr>
    <th>Title</th>
    <% if(user) { %>

      <% if(user.isAdmin ) { %>
<th>Delete</th>
<th>Edit</th>

  <% } %>
  <% } %>   
    </tr>

  <% categorys.forEach(function(category){ %>

    <tr>
        <td> <%= category.name %> </td>
        <% if(user) { %>

          <% if(user.isAdmin ) { %>
        <td> <a href="/category/delete?id=<%= category._id%>">Delete</a> </td>
        <td> <a href="/category/edit?id=<%= category._id%>">Edit</a> </td>
        <% } %>
        <% } %>

    </tr>
<% }) %>
</table>
