<div class="form-style-6">
    <h1>Edit Place</h1>


    <form method="POST" action="/place/update">
        <div>
            <label>Name: </label>
            <input type="text" name="name" value="<%= place.name %>" class="form-control bg-dark text-light">
        </div>

    
        <input type="hidden" name="id" value="<%= place._id %>" class="form-control bg-dark text-light">

        <br>
        <button type="submit" class="btn btn-primary">Update Place</button>
        
    </form>
</div>