<h2>Places</h2>

<div class="row">
    <% places.forEach(function(place) { %>
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <h5 class="fw-normal"><a href="/place/detail?id=<%= place._id %>"> 
                    <%= place.name %> 
                </a> 
            </h2>
                <% if(user) { %>
                    <% if(user.isAdmin ) { %>
                        <a href="/place/delete?id=<%= place._id %>">Delete</a>
                        <a href="/place/edit?id=<%= place._id %>"> - Edit</a>
                        <% } %>
                        <% } %>
                    </div>

                <% }) %>
      </div>