<main class="homeMain">
    <section class="homepic py-5  text-center container">
        <div class="row py-lg-5">
          <div class="homeall col-lg-6 col-md-8 mx-auto">
            <h1 class="hometitle fw-light">Entertainment is <span class="hometitlespan">Universal</span>.</h1>
            <p class="homep lead">Discover all the entertaining areas in Bahrain for your enjoyment. Make your life easier and fun by simply browsing Owlly for the quickest way to spend your day.</p>
          </div>
        </div>
      </section>
      <hr>
      <div class="featuredhome row mb-2">
        <div class="featuredtitle"><h3 class="ftitle">Top Attractions</h3>
          <img class="divider" src="/images/divider.png">

        <p class="featuredp">Check Out the Trendy Places in Bahrain!.</Canvas></p></div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="sizeadjust col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">Malls</strong>
              <h3 class="mb-0">City Centre Bahrain</h3>
              <div class="mb-1 text-body-secondary">Manama, Bahrain</div>
              <p class="card-text mb-auto">A shopping mall open for everyone to have fun and shop! It is known to have the best stores and games area for youthful people.</p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img class="featuredimgs" src="/images/city-centre-bahrain.jpg" width="250" height="250">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success-emphasis">Outdoor Activities</strong>
              <h3 class="mb-0">Funland Centre - Bowling & Ice Skating</h3>
              <div class="mb-1 text-body-secondary">Manama, Bahrain</div>
              <p class="mb-auto">A fun place for people that love bowling and ice skating! Arcade games also available for everyone's interests.</p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img class="featuredimgs" src="/images/bowling-funland.jpg" width="250" height="250">
            </div>
          </div>
        </div>
      </div>
<hr>
      <div class="featuredhome row mb-2">
        <div class="featuredtitle"><h3 class="ftitle">Upcoming Attractions</h3>
          <img class="divider" src="/images/divider.png">

        <p class="featuredp">Excited for more attractions? Coming soon.</Canvas></p></div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="sizeadjust col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">Upcoming: Hotels!</strong>
              <h3 class="mb-0">Four Seasons Hotel Bahrain Bay</h3>
              <div class="mb-1 text-body-secondary">Bahrain Bay, Manama</div>
              <p class="card-text mb-auto">Check out the experience of a lifetime and enjoy the relaxation that Four Seasons Hotel offers!</p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img class="featuredimgs" src="/images/bahrain-four-season.jpg" width="200" height="200">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success-emphasis">Upcoming: Garden & Parks!</strong>
              <h3 class="mb-0">Khalifa AlKubra Garden</h3>
              <div class="mb-1 text-body-secondary">Riffa, Bahrain</div>
              <p class="mb-auto">A Peaceful park for your family's enjoyment and a place to relax in the sun!</p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img class="featuredimgs" src="/images/khalifa-alkubra.jpg" width="200" height="200">
            </div>
          </div>
        </div>
      </div>

</main>

